# Ansible inventory for k3s cluster
# Matches the VMs provisioned by terraform/proxmox/
#
# Groups:
#   k3s_init          - First node, bootstraps the cluster (--cluster-init)
#   k3s_servers       - Remaining servers, join via the init node's token
#   k3s_control_plane - Parent group targeting all CP nodes

all:
  children:
    k3s_init:
      hosts:
        k3s-cp-01:
          ansible_host: 192.168.10.21
    k3s_servers:
      hosts:
        k3s-cp-02:
          ansible_host: 192.168.10.22
        k3s-cp-03:
          ansible_host: 192.168.10.23
    k3s_control_plane:
      children:
        k3s_init:
        k3s_servers:
      vars:
        ansible_user: ubuntu
        ansible_ssh_private_key_file: ~/.ssh/id_rsa_4096
        ansible_python_interpreter: /usr/bin/python3.12
        # Accept new host keys automatically (VMs get new keys after destroy/apply)
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
